firstApp/format2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TIMESTAMP" type="xsd:string"/>
  <xsd:element name="ID" type="xsd:string"/>
  <xsd:element name="FORMAT2">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TIMESTAMP"/>
        <xsd:element ref="ID"/>
        <xsd:element ref="CODE"/>
        <xsd:element ref="DESCRIPTION"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DESCRIPTION" type="xsd:string"/>
  <xsd:element name="CODE" type="xsd:string"/>
</xsd:schema>